{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <form action="{{url_for('kryptedbnb.search')}}" method="POST">
            <input type="date" name="desired_date">
            <input type="submit" name="search" value="Search">
        </form>
    </div>
  {% for listing in listings %}
    <article class="listings">
      <header>
        <div>
            <h4>{{listing[0]['name']}}</h4>
            <h1>Price: {{ listing[0]['price']}} per night</h1>
            <h1>First Available Date: {{ listing[1]}}</h1>
                <div>
                    <img src={{listing[0]['picture_url']}} height="300" width="500">
                </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
