{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for listing in listings %}
    <article class="book">
      <header>
        <div>
          <h1>{{listing['name']}}</h1>
            <div>
                Price: {{ listing['price']}} per night <br>
            </div>
            <div>
                <img src={{listing['picture_url']}}>
            </div>
            <div>
                <form action="{{url_for('bookstore.add_to_cart')}}" method="POST">
                    Copies:
                    <input type="number" name="copies" size="10" maxlength="2">
                    <input type="submit" name="add_to_cart" value="Add to Cart">
                </form>
            </div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

{% endblock %}
