{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <form action="{{url_for('kryptedbnb.search')}}" method="POST">
            Checkin Date:
            <input type="date" name="checkin_date" value="Checkin Date">
            <br>
            How many nights:
            <input type="number" name="desired_nights" value="Planned Nights">
            <br>
            Sort By:
            <select name="sort_by">
                <option value="low_to_high">Low to High</option>
                <option value="high_to_low">High to Low</option>
            </select>
            <br><br>

            <input type="submit" name="search" value="Search">
        </form>
    </div>
    {% if listings == [] %}
        <article class="listings">
         <header>
            <div>
                <h1>We do not have availability within your requirements</h1>
            </div>
         </header>
        </article>
    {% else %}

      {% for listing in listings %}
        <article class="listings">
          <header>
            <div>
                <h4>{{listing[0]['name']}}</h4>
                <h1>Price: {{ listing[0]['price']}} per night</h1>
                <h1>First Available Date: {{ listing[1]}}</h1>
                    <div>
                        <img src={{listing[0]['picture_url']}} style="width:500px;height:300px;">
                    </div>
            </div>
            <div class="button-container">
                <form action="{{url_for('booking.books')}}" method="POST">
                    <input type="submit" name="book" value="Book This BnB">
                    <input type="hidden" name="listing_id" value="{{ listing[0]['listing_id']}}">
                    <input type="hidden" name="nights" value="{{ listing[2]}}">
                    <input type="hidden" name="date" value="{{ listing[1]}}">
                </form>
                <form action="{{ url_for('kryptedbnb.more_info')}}" method="POST">
                    <input type="submit" name="more_info" value="More Info">
                    <input type="hidden" name="listing_id" value="{{ listing[0]['listing_id']}}">
                </form>
            </div>
          </header>
        </article>
        {% if not loop.last %}
          <hr>
        {% endif %}
      {% endfor %}
    {% endif %}

{% endblock %}
